<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399674068229-o9m890o3v4csehnv3s4lfi7ca68bei5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399674068229-o9m890o3v4csehnv3s4lfi7ca68bei5m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>399674068229-l7pnq17rdrv4g9e4v5nqm02dsmg3pae6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-wqLCR6eoitcRZnaMkdViIuYo7rlO27U</string>
	<key>GCM_SENDER_ID</key>
	<string>399674068229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flugram</string>
	<key>PROJECT_ID</key>
	<string>flugram-55f95</string>
	<key>STORAGE_BUCKET</key>
	<string>flugram-55f95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399674068229:ios:5cb2784341b69f704fbb6c</string>
</dict>
</plist>